<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-danger">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <strong>プログラミングチュートリアル</strong>
        </div>
    </nav>

    <section class="container">
        {% block content %}
        {% endblock %}
    </section>
</body>


</html>